# Git ignore
*~
*.DS_Store
.idea
*.py~
*.pyc
*.pyc~
#*settings.py
backend/manage.py
backend/source/conf.py
*.settings
*.zargo~
*.directory
__pycache__
Login-test
web/test/unit/
web/*.sh
web/app/scripts/app.min.js
