
<div ng-controller="mapController">
    <div class="w20p list">
        <nav>
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="active"><a href="#">Tasks</a></li>
                <li><a href="#">Inbox</a></li>
            </ul>
        </nav>
        <div class="search">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="query"/>
                </div>
            </form>
        </div>
        <div class="taskList">
            <ul id="itemList" class="list-group">
                <li ng-repeat="task in taskList | orderBy : 'task' | filter: query" class="list-group-item">


                    id:{{task.id}}
                    <br>{{task.name}}
                    <div class="fright"><span class="glyphicon glyphicon-pencil"></span> <span class="label label-default">Info</span></div>


                </li>
            </ul>
			
        </div>
		<div class="pagination-cont">
			<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul></div>
    </div>
	


    <div class="w80p" id="map">
	
    </div>
</div>