<!-- map.partial.html -->
<div  ng-controller="mapController"  class="map">

    <!-- Additional buttons -->
    <input id="pac-input" class="controls" type="text" placeholder="Search by address">
    <button ng-click="toggleStreetview()" id="panel">{{btnText}}</button>
    <button id="btnGeolocation" ng-show="btnGeolocation" class="controls"><img width="20" src="img/geo.png" ></button>

    <!-- Map main canvas -->
    <div id="map" class="map"></div>

    <!-- Hidden loading overlay -->
    <div ng-show="loading" id="loadingOverlay">
        <div class="loadingContent"><img src="img/ajax-loader_2.gif"></div>
    </div>
</div>