<!-- message.partial.html -->
<div class="search-form">
    <div class="input-group">
        <input type="text" class="form-control" ng-model="searchQuery" placeholder="search messages..." >
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="false"></span></button>
      </span>
    </div>
</div>
<div class="tab-content-inner">
    <div class="sendmsg-form">
        <div class="form-group">
            <label for="messageTo">To</label>
            <input type="text" class="form-control" id="messageTo" ng-model="messageModel.to" ng-value="messageModel.to" placeholder="Enter title">
        </div>
        <div class="form-group">
            <label for="messageTitle">Title</label>
            <input type="text" class="form-control" id="messageTitle" ng-model="messageModel.topic" placeholder="Enter title">
        </div>
        <div class="form-group">
            <label for="messageContent">Message</label>
            <textarea class="form-control" rows="3" ng-model="messageModel.message" id="messageContent"></textarea>
        </div>
        <button class="btn btn-primary" ng-click="send()">Send</button>
    </div>
    <div ng-show="showLoadingIcon" class="loading"><img src="./img/ajax-loader_2.gif"></div>
    <ul>
        <!-- Details -->
        <li ng-repeat="message in messageList" ng-class="{'open': isSelected(message)}">
            <div class="accord-title clearfix" is-open="open" ng-click="click(message)">
                <div class="fleft">{{message.topic}}<br> from:{{message.sender}}</div>
                <div class="fright">
                    <span ng-if="!isSelected(message)" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-if="isSelected(message)" class="glyphicon glyphicon-chevron-up"></span>
                </div>
            </div>
            <div class="accord-content" style="clear: both">
                <div class="list-item">
                    {{message.message}}
                </div>
                <button class="btn btn-danger" ng-click="delete(message.mid)">Delete</button>
            </div>
        </li>
    </ul>
</div>
<!-- // message.partial.html -->

