<div class="single-page">
    <h1>Settings</h1>
    <h2>User</h2>
    <div class="user">
        {{settingsModel.user.name}}
        <br>
        {{settingsModel.user.email}}
        <br>
        <img width="150" src="{{settingsModel.user.picture}}">
    </div>
    <h2>Data</h2>
    <form role="form">
        <div class="form-group">
            <label for="baseUrl">Data source base url</label>
            <input type="text" class="form-control" id="baseUrl" placeholder="Enter url" ng-model="settingsModel.baseApiUrl">
        </div>
        <div class="radio" ng-repeat="collection in settingsModel.collections">
            <label>
                <input type="radio" ng-value="collection.name" ng-model="settingsModel.collectionModel"> {{collection.name}}
            </label>
        </div>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="saveSettings()">Save changes and move back</button>
    </form>
</div>
<script src="https://apis.google.com/js/client:platform.js" async defer></script>