<div id="tabs">
    <ul>
        <li ng-class="{active: tab == 'items'}">
            <a ng-click="tab = 'items'"><img src="img/point.png" alt="point img"><br>Items</a>
        </li>
        <li ng-class="{active: tab == 'messages'}">
            <a ng-click="tab = 'messages'"><img src="img/message.png" alt="message img"><br>Messages</a>
        </li>
    </ul>
</div>
<div class="tab-content">
    <div ng-switch="tab">
        <!-- Items -->
        <div ng-switch-default='items' ng-controller="itemController">
            <ng-include src="'views/item.partial.html'"/>
        </div>
        <!-- Messages -->
        <div ng-switch-when='messages' ng-controller="messageController">
            <ng-include src="'views/message.partial.html'"/>
        </div>
    </div>
</div>