<div id="tabs">
    <ul>
        <li ng-class="{active: main.active.tab == 'items'}">
            <a ng-click="main.active.tab = 'items'">Items</a>
        </li>
        <li ng-class="{active: main.active.tab == 'messages'}">
            <a ng-click="main.active.tab = 'messages'">Messages</a>
        </li>
    </ul>
</div>
<div class="tab-content">
    <div ng-switch="main.active.tab">
        <div ng-switch-when='items' ng-controller="itemController"></div>
        <div ng-switch-when='messages' ng-controller="messageController"></div>
    </div>
</div>
