/*------------------------------------------------------------------
Project:	LBD
Descr:		Web-client custom styles
Version:	0.1
Licence:	MIT License
-------------------------------------------------------------------*/
