/*------------------------------------------------------------------
Project:	LBD
Descr:		Web-client custom styles
Version:	0.1
Licence:	MIT License?
-------------------------------------------------------------------*/

html, body{
    font-family: 'Source Sans Pro', sans-serif;
    height:100%;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}
.w20p,.w80p{
    height: 100%;

}

.map {
    height: 100%;
    position: relative;
}
.fleft{
    float: left;
}
.fright{
    float: right;
}
.w20p {
    width: 20%;

}
.w80p {
    width: 80%;
    overflow: hidden;
}
#panel {
    position: absolute;
    top: 5px;
    right: 200px;
    z-index: 5;

    direction: ltr;
    overflow: hidden;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Roboto, Arial, sans-serif;
    -webkit-user-select: none;
    font-size: 11px;
    padding: 1px 6px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.14902);
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    min-width: 33px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
}
#btnGeolocation{

    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    margin-right: 5px;
    margin-left: 5px;
}

#loadingIcon {
    position: absolute;
    bottom: 100px;
    right: 50px;
    z-index: 9999;
    width: 31px ;
    height: 31px ;

}

header {
    background: #edeeef;
    height: 70px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
}
header .logo {
    margin: 5px 0 0 20px;
}
.logo h4 {
    margin-top: 20px;
    margin-left: 10px;
}

header .user {
    margin-top: 25px;
}

header a {
    color: #184663;
}

.search-input, .sendmsg-form {
    width: 100%;
    padding: 10px;
}
.sendmsg-form label {
    color: #fff;
}
/* Tabs and sidebar */
.sidebar {
    background: #2f3a41;
}
.tab-content-inner {
    height: 100%;
position: relative;
    display: block;
}
.tab-content-inner ul {
    overflow: scroll;
    position:absolute;
    width:100%;
}
#tabs ul,
.tab-content ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #222e36;

}
.tab-content ul li {
    border-bottom: 1px solid #222e36;
    color: #fff;
    padding: 20px 10px;

}
.tab-content .accord-title {
    cursor: pointer;
}
.tab-content .accord-content {

}
.tab-content ul {

}

.accord-content {
    padding: 10px;
}
.search-form{
    margin: 25px 0;
    padding: 12px 14px;
}

#tabs,
.tabs-content
{
    width: 100%;
}
#tabs ul li {
    background: #1b2831;
    display: inline-block;
    width: 49%;

    font-size: 16px;
    text-align: center;
}
#tabs ul li a{
    color: #fff;
    padding: 20%;
    display: block;
    font-size: 18px;
}

#tabs ul li.active {
    background: #2f3a41;
}

.loading {
    text-align: center;
    width: 100%;
}
.accord-title {

    padding: 10px;
}

.header-toolbar {
    margin-right: 20px;
}

#loadingOverlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 9999;
}



/* map search */
.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 400px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

#pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;  /* Regular padding-left + 1. */
    width: 401px;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

.btn,.form-control {
    border-radius: 0;
}

.list-item {
    margin-bottom: 10px;
}
.item-row {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.open .accord-title,
.open .accord-content {
    background: #eaeaea;
    color: #555;
}

/* Infowindow */
.markerDetails {
    border-collapse: collapse;
    margin: 0;
    font-size: 11px;
    border: 1px solid #eee;
}
.markerDetails th {
    padding: 5px 10px;
    white-space: nowrap;
    border: 1px solid #eee;
}

.markerDetails td {
    padding: 5px 10px;
    border: 1px solid #eee;
}

.markerDetails tr:nth-child(even) th,
.markerDetails tr:nth-child(even) td {
    background-color: #f7f7f7;
}